@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    margin: 0;
    width: 1440px;
    background-color: hsl(217, 54%, 11%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.card {
   background-color: hsl(216, 50%, 16%);
   width: 300px;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   margin: 0 auto;
   padding: 20px 0;
   border-radius: 10px;
}
h2,p {
    text-align: left;
    padding-left: 20px;
    color: hsl(215, 51%, 70%);
    font-size: 300;
}

h2 {
    color: white;
    font-size: 700;
}
.image {
    width: 260px;
    border-radius: 10px;

}
.equilibrium {
    font-size: 400;
    padding-right: 40px;
    padding-bottom: 15px;
}
#days {
    padding-left: 20px;
}
.cyan {
    color: hsl(178, 100%, 50%);
}
.clock {
    color: hsl(215, 51%, 70%);
}
.icon {
    display: inline;
    padding: 0 20px;
}

hr {
    width: 255px;
    border: 0;
    border-top: 1px solid hsl(215, 32%, 27%);
}

.creator {
    padding-top: 20px;
    padding-right: 40px;
    font-size: 14px;
}
.creator > img{
    vertical-align: middle;
    width: 45px;
    border: 1px solid white;
    border-radius: 50%;
}
.creator > span {
    padding-left: 10px;
    color: hsl(215, 51%, 70%);
}
.name {
    color: white;
}

@media only screen and (max-width: 600px){

    body {
        width: 375px;
    }
    .card {
        position: absolute;
        margin: 0 auto;
    }

    .image {
        position: relative;
    }
    
}